<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key="+{{ mapskey['key'] }}></script>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	</head>

	<body>
		<div class="container" id="content-container">
			<h1>SF Movies App</h1>
			<h5>This app shows on the map where movies have been filmed in San Francisco</h5>
			<div id='movieBox'>
	  			<input type="text" placeholder="Enter Name of the Movie" id="movie-input"/>
				
				<div class='mBox'>
					<ul id="mlist" class="list"></ul>
				</div>
			</div>

			<div id="googleMap" style="width:600px;height:600px;"></div>
		</div>

		<script id="backbonescript">

			

		$(function() { 

			//Movie model
			var MovieModel = Backbone.Model.extend({		
			})

			//Collection of movies from the database
			var Movies = Backbone.Collection.extend({
				model: MovieModel,
				url : '/movies',
				parse: function(response) {
					console.log("response", response)
        			return response.collection;
    			},
    			search: function(letters) {					//filter the collection based on form input
    				if (letters == "") return this;

    				var pattern = new RegExp(letters, "gi");
    				return _(this.filter(function(data) {
    					return pattern.test(data.get('title'));
    				}));
    			}
			});

			//View of all the movies that get listed, for reference
			//The movies can be searched by using the autocomplete feature on form field
			//The autocomplete feature updates the rendering with a filtered list of movies
			var AllMoviesView = Backbone.View.extend({
				el : "#movie-input",

				initialize : function() {
					this.listenTo(this.collection, 'reset sort destroy', this.render);
				},

				render : function() {
					this.$el.bind('keyup', this.search.bind(this));  
					this.renderList(this.collection);
					console.log("rendering of autocomplete done");
					return this;
				},

				renderList : function(movies) {
					$("#mlist").html("");

					var that = this;

					movies.each(function(movie){
						var movieview = new EachMovieView({
							model: MovieModel,
							collection: that.collection
						});
						$("#mlist").append('<li><a href="#">'+movie.get('title')+'</a></li>');
					});
					return this;
				},

				events: {
					'keyup #movie-input' : 'search'			//autocomplete on form field
				},

				search: function(e) {
					var letters = $("#movie-input").val();
					this.renderList(this.collection.search(letters));
				}
			});

			//View for each movie in the list
			var EachMovieView = Backbone.View.extend({
				el : '#mlist',

				initialize : function() {
					this.listenTo(this.collection, 'reset sort destroy', this.render);
				},

				render : function() {
					this.collection.bind('click', this.onClick.bind(this));
				},

				events: {
					'click li a' : 'onClick'		
				},
				onClick: function(e) {
						console.log("this:", this);

						var $anchorElem = $(e.currentTarget);
						var movieName = $anchorElem.text();

						var movie = this.collection.findWhere({'title': movieName});
    					console.log("movie title:", movie);
    					movie.trigger('selected', movie);
				}
			});

			//View for googlemaps. This view listens to the trigger 'selected'
			//on the EachMovieView and geolocates the markers on the maps for the selected movie
			var GoogleMap = Backbone.View.extend({
				el : '#googleMap',
				markers : [],

				initialize : function() {
					this.collection.on('selected', this.updateMap.bind(this));

					var mapOptions = {
    									zoom: 11,
    									center: new google.maps.LatLng(37.7502378, -122.4337029), 
    									mapTypeId: google.maps.MapTypeId.ROADMAP
  					};
  					map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
				},

				updateMap: function(movie) {
					var movieLocations = movie.get('location');
					var gmapskey = "{{ mapskey['key'] }}";

					//clear existing markers on the map
					if (this.markers.length > 0) {
						for (var i = 0; i < this.markers.length; i++) {
							this.markers[i].setMap(null);
						}
						this.markers = [];
					}	

					//geolocate the address from searchterm and add new markers to the map
					var that = this;
					//var mapsapikey = config.API_KEY;
					for (var i = 0; i < movieLocations.length; i++) {
						searchloc = encodeURIComponent(movieLocations[i]+' san francisco, ca');
						console.log("searchloc is", searchloc)
						$.get('https://maps.googleapis.com/maps/api/geocode/json?&address='+searchloc+'&key='+gmapskey, function(response) {
							console.log("response is", response)
							pos = response.results[0].geometry.location;
							var marker = new google.maps.Marker({
								position: new google.maps.LatLng(pos.lat, pos.lng),
								map: map,
								title: movieLocations[i]
							});
							that.markers.push(marker);
						});
					}
				}
			});

			//Backbone Router for home page
			var Router = Backbone.Router.extend({
				routes: {
					'' : 'home'
				}
			});

			var movieColl = new Movies();  //movies is a collection
			var gMap = new GoogleMap({collection: movieColl});	//passing the collection to map view
			var allmoviesview = new AllMoviesView({collection: movieColl});	//passing the collection to all movies view

			var router = new Router();
			router.on('route:home', function() {
				movieColl.fetch();					//fetch the movie collection from database
			});

			Backbone.history.start();
		})
		</script>

	</body>
</html>